body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    font-weight: bold;
}

main {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    flex: 1;
    padding-right: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.slider {
    flex: 1;
}

.slides {
    display: none;
}

.slides img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
}

footer ul li {
    margin-right: 10px;
    font-size: 1.5rem;
}

.arrow {
    font-size: 2rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        flex-direction: column;
    }

    .text {
        padding-right: 0;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.875rem;
    }

    footer ul li {
        margin-right: 5px;
    }
}

.slides img{

    max-width: 500px;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .slides {
    flex: 0 0 100%;
    display: none;
  }
  